body {
  line-height: 1;
  background-color: #1a1a1a !important;
}

// GLOBAL

* {
  font-family: 'Nunito Sans', sans-serif;
}

.custom-bullet-container,
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  border-radius: 0;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  background-color: white;
  opacity: 1;
  transition: all 0.3s ease-out;
  border-radius: 50%;
}
.swiper-pagination-bullet {
  background: #707070;
}
.swiper-pagination-bullet-active {
  background: white;
  transform: scale(1.2);
}

.grecaptcha-badge {
  display: none;
}

.active-nav-link {
  color: #1c6bba !important;
  -webkit-text-stroke: 0.5px #1c6bba;
}

.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.z-index-4 {
  z-index: 4;
}

.chakra-checkbox__control {
  background: white !important;
  border: 1px solid #e0e0e0 !important;
  width: 15px !important;
  height: 15px !important;
}

.chakra-checkbox__control[data-checked] {
  svg {
    stroke: #1c6bba !important;
  }
}

.chakra-checkbox__label {
  font-family: 'PPFormula-Extrabold';
  font-size: 16px;
  line-height: 16px;
  color: white;
}

a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.swiper-pagination-progressbar-fill {
  background-color: #1c6bba !important;
}

// Pagination

.pagination-container {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.pagination-previous,
.pagination-next {
  background-color: #1c6bba;
  color: white;
  padding: 6px 12px;
  margin: 0 12px;
  &:hover {
    a {
      color: white;
    }
  }
}

.pagination-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link,
.pagination-active-link {
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #1c6bba;
  width: 26px;
  min-width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  &:hover {
    color: #1c6bba;
  }
}

.pagination-active-link {
  background-color: #1c6bba;
  color: white;
  &:hover {
    color: white;
  }
}

.animated-heading-left {
  /* Define initial styles */
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s, transform 1s;
}

.animated-heading-left.visible {
  /* Define styles when the div is visible */
  opacity: 1;
  transform: translateX(0);
}

.animated-heading-right {
  /* Define initial styles */
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.animated-heading-right.visible {
  /* Define styles when the div is visible */
  opacity: 1;
  transform: translateX(0);
}

.slick-slide > div {
  margin: 0 10px;
  height: 100px;
  display: flex;
  align-items: center;
}
.slick-list {
  margin: 0 -10px;
}

span:has(> .animated-number) {
  display: inline-block;
}
